server:
  port: 8083
spring:
  application:
    name: product-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/alwon_pos}
    username: ${SPRING_DATASOURCE_USERNAME:alwon}
    password: ${SPRING_DATASOURCE_PASSWORD:alwon2024}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: products
management:
  endpoints:
    web:
      exposure:
        include: health,info
springdoc:
  swagger-ui:
    path: /swagger-ui.html
