server:
  port: 8087

spring:
  application:
    name: inventory-service
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/alwon_pos}
    username: ${SPRING_DATASOURCE_USERNAME:alwon}
    password: ${SPRING_DATASOURCE_PASSWORD:alwon2024}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: inventory

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:alwon}
    password: ${RABBITMQ_PASSWORD:alwon2024}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.alwon.pos.inventory: DEBUG

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
